*
{
     margin: 0;
    padding: 0;
}

header
{
   padding: 20px;
   background-color: #121D5F;
   color: white;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

header img
{
    width: 120px;
    position: absolute;
    left: 0;
}

nav
{
    padding-left: 20px;
}

nav a
{
    text-decoration: none; 
    font-size: 18px;
    margin: 20px;
     color: #0A3B7D;
}

.titulo-principal
{
    color: #01285b;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

fieldset
{
    border: 1px solid #0A3B7D;
    padding: 20px;
    margin-bottom: 20px;
}

footer p
{
    text-align: center;
    padding: 10px;
    background-color: #121D5F;
    color: white;
    font-size: 14px;
}
