*{
   margin: 0;
   padding: 0;
}

.titulo-principal
{
    color: #01285b;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo-secundario
{
    color: #01285b;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p
{
    text-align: center;
    padding: 10px;
    background-color: #121D5F;
    color: white;
    font-size: 14px;
}

nav
{
    padding-left: 0px;
}

nav a
{
    text-decoration: none; 
    font-size: 18px;
    margin: 20px;
     color: #0A3B7D;
}
